

//@theme "/home/potatoboi/.local/share/rofi/themes/nord.rasi"


//@theme "/home/potatoboi/.local/share/rofi/themes/nord-twoLines.rasi"

//@theme "/home/potatoboi/.local/share/rofi/themes/nord.rasi"

//@theme "/home/potatoboi/.local/share/rofi/themes/nord-twoLines.rasi"

@theme "/home/potatoboi/.local/share/rofi/themes/nord.rasi"


